
body{
    color: white;
    background-color: #0B2B26;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #051F20;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
}

.nav-container {
    max-width:  80rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

.nav-content {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo {
    transform: scale(1);
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}

.logo img {
    width: 3rem;
    height: 3rem;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-header h1 {
    font-size:medium;
}

header .header-register-form {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 2rem;
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
}

form {
    margin: 10px 0;
    padding: 25px 0;
    width: 500px;
    height: 30rem;
    display:flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-color: #123524;
    border: #102b2c 2px solid;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input {
    margin: 8px 0;
    padding: 5px;
    width: 20rem;
    height: 2rem;
    text-align: left;
    border-radius: 8px;
    border: #102b2c 2px solid;
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}

.input:focus {
    outline: none;
    border-color: #8EB69B;
}

